/*
  * ----------------------------------------
  * EXITING ANIMATION
  * ----------------------------------------
*/
.roll-out-blurred-left {
	-webkit-animation: roll-out-blurred-left 0.95s
		cubic-bezier(0.755, 0.05, 0.855, 0.06) both;
	animation: roll-out-blurred-left 0.95s cubic-bezier(0.755, 0.05, 0.855, 0.06)
		both;
}
@-webkit-keyframes roll-out-blurred-left {
	0% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-1000px) rotate(-720deg);
		transform: translateX(-1000px) rotate(-720deg);
		-webkit-filter: blur(50px);
		filter: blur(50px);
		opacity: 0;
	}
}
@keyframes roll-out-blurred-left {
	0% {
		-webkit-transform: translateX(0) rotate(0deg);
		transform: translateX(0) rotate(0deg);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-1000px) rotate(-720deg);
		transform: translateX(-1000px) rotate(-720deg);
		-webkit-filter: blur(50px);
		filter: blur(50px);
		opacity: 0;
	}
}

/*
  * ----------------------------------------
  * ENTERING ANIMATION
  * ----------------------------------------
*/
.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s
		cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
		both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
	0% {
		-webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
		transform: translateY(-600px) rotateX(-30deg) scale(0);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) rotateX(0) scale(1);
		transform: translateY(0) rotateX(0) scale(1);
		-webkit-transform-origin: 50% 1400px;
		transform-origin: 50% 1400px;
		opacity: 1;
	}
}
@keyframes slide-in-elliptic-top-fwd {
	0% {
		-webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
		transform: translateY(-600px) rotateX(-30deg) scale(0);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0) rotateX(0) scale(1);
		transform: translateY(0) rotateX(0) scale(1);
		-webkit-transform-origin: 50% 1400px;
		transform-origin: 50% 1400px;
		opacity: 1;
	}
}

/*
  * ----------------------------------------
  * IDLING ANIMATION
  * ----------------------------------------
*/
.pulsate-fwd {
	-webkit-animation: pulsate-fwd 0.75s ease-in-out infinite both;
	animation: pulsate-fwd 0.75s ease-in-out infinite both;
}
@-webkit-keyframes pulsate-fwd {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
@keyframes pulsate-fwd {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}
